<div class="container">
  <h2>Login</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label class="login-label">
          Username:
          <input
            class="login-input"
            placeholder="Enter Username"
            type="text"
            formControlName="userName"
          />
        </label>
      </div>
      <div class="col"></div>
      <label class="login-label">
        Password:
        <input
          class="login-input"
          placeholder="Enter Password"
          type="password"
          formControlName="password"
        />
      </label>
    </div>
    <div class="col login-div">
      <button class="login-btn">Login</button>
    </div>
  </form>
</div>
