.container {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.login-btn {
  background: rgb(20, 125, 167);
  color: white;
  border-color: rgb(20, 125, 167);
}

.login-div {
  margin-top: 10px;
}

::placeholder {
  color: rgba(128, 128, 128, 0.575);
}

.login-label {
  color: rgb(20, 125, 167);
}

.login-input {
  //   border-color: rgb(192, 196, 197);
}
