<div class="container">
  <h2>{{ title }}</h2>
  <div class="d-flex justify-content-center" style="color: white">
    <div style="background: rgb(62, 78, 92); width: 500px">
      <div *ngFor="let item of items">
        <img [src]="img_path" class="movie_img" />
        <div style="padding-top: 10px">
          <span> {{ item.desc }} </span>
        </div>
        <div style="margin-top: 5px">
          <p style="margin: 0">
            <b>Director : {{ item.director }}</b>
          </p>
          <p style="margin: 0">
            <b>Writer : {{ item.writer }}</b>
          </p>
          <p style="margin: 0">
            <b>Stars : {{ item.stars }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
